<% #自分のコメント、トークは表示しない %>
<% notifications=@notifications.where.not(visiter_id: current_user.id) %>
<div>
  <% if notifications.exists? %>
    <div class="user-index">
      <%= render "notifications/notification", notifications: @notifications %>
      <%= paginate notifications %>
    </div>
  <% else %>
    <p>通知はありません</p>
  <% end %>
</div>
