<% if logged_in? %>
  <div>
    <!-- ユーザ検索は隠す-->
    
    <%= render 'posts/posts', posts: @posts %>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>ようこそ</h1>
      <%= link_to '新規登録する', new_user_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>